* {
    margin: 0;
    padding: 0;
}
html, body {
    height: 100%;
}
body {
    background: url(../img/back.jpg) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}
h1 {
    text-align: center;
}
.btn-md {
    margin: 20px auto;
    max-width: 90%;
    height: 50px;
}
.btn-lg {
    margin: 225px auto;
    max-width: 25%;
    height: 50px;
}
.jumbotron {
    margin: 40px auto;
    width: 80%;
    height: 725px;
}
#timer {
    margin: 20px 0;
    text-align: center;
}
#question {
    margin: 20px 0;
    text-align: center;
}
#answers {
    margin: 20px 0;
}
@media screen and (min-width: 768px) {
    .jumbotron h1 {
        font-size: 54px;
    }
}
